* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bookshelf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
}

.book-container {
  display: flex;
  flex-direction: row;
}

.book {
  display: block;
  opacity: 1;
  visibility: visible;
  border: solid 2px black;
  height: 50vh;
  width: 80px;
  align-content: center;
  text-align: center;
  writing-mode: vertical-rl;
  position: relative;
}

.book.open {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.book-inside {
  width: 20vw;
  overflow: hidden;
  display: none;
  opacity: 0;
  visibility: hidden;
}

.book-inside.open {
  display: block;
  opacity: 1;
  visibility: visible;
}

a.book-link {
  display: flex;
  text-decoration: none;
}

.leftpage {
  border: solid 2px black;
  border-top-right-radius: 50px 20px;
  border-bottom-right-radius: 50px 20px;
}

.rightpage {
  border: solid 2px black;
  border-top-left-radius: 50px 20px;
  border-bottom-left-radius: 50px 20px;
}

/* book decorations */
.workbook {
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 300%;
  background-color: aquamarine;
}

.hunting {
  font-family: "sixtyfour", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
  background-color: yellow;
}

.projects {
  font-family: "Miniver", serif;
  font-style: normal;
  font-size: 300%;
  background-color: orange;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
